/* Global/main SCSS file that will import all of our parials */
/**************************  CSS RESET **************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

//some comment /.....

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**************************  CSS RESET END**************************/
/**************************  BASE STYLES START **************************/
/* apply a natural box layout model to all elements, but allowing components to change*/
html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

.card:after,
.card:before {
  content: "";
  display: table; }

.card:after {
  clear: both; }

.card {
  *zoom: 1; }

body {
  position: relative; }

body {
  font-family: 'Roboto', sans-serif;
  background:  #E3E3E3;
 }

a {
  text-decoration: none; }

.columns {
  max-width: 60rem;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 0.5em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em; }

/**************************  BASE STYLES END **************************/
/**************************  CARD COMPONENT START **************************/
.card {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 8px;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #888888;
  -webkit-box-shadow: 2px 2px 1px #888888;
  background: #FFF;
  -webkit-border-radius: 2px; }

.card-welcome .card-details {
  padding-bottom: 35px; }

.card-welcome h2 {
  padding-top: 5px;
  padding-bottom: 14px;
  color: #EC1662; }

.card-welcome .card-details p {
  padding-bottom: 5px;
  color: black;
  font-size: 14px; }

.card-big h2 {
  padding-left: 20px;
  color: white;
  font-size: 20px;
  font-weight: 300; }

.card-big img {
  width: 100%;
  height: 160px; }

.card-big .card-details {
  padding-top: 10px; }

.card-small img {
  height: 119px;
  float: left; }

.card-small .card-content {
  width: 100%;
  padding-left: 78px; }

.card-details {
  width: 100%;
  padding: 10px;
  padding: 17px;
  border-bottom: 1px solid #E7E7E7; }

.card-small .card-details {
  height: 74px; }

.card-details h2,
.card-details h6 {
  text-transform: capitalize;
  font-size: 20px; }

.card-details h6 {
  padding-top: 5px;
  padding-bottom: 10px;
  color: grey;
  font-size: 13px; }

.card-big .card-details p {
  font-size: 13px; }

.card-menu {
  height: 20px;
  padding-bottom: 45px;
  padding-left: 17px; }

.card-menu a {
  display: inline-block;
  margin-right: 20px;
  padding-top: 15px;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500; }

.card-menu a:nth-child(2) {
  color: #FFB75B; }

.hidden {
  visibility: hidden;
  opacity: 0; }

/*Media Queries for Card Component*/
@media (min-width: 320px) {
  .card {
    margin-right: auto;
    margin-left: auto; } }
@media (min-width: 625px) {
  .card {
    display: inline-block;
    max-width: 20rem; } }
/**************************  CARD COMPONENT End **************************/
/**************************  BUTTON COMPONENTS START **************************/
.menu {
  position: relative;
  left: 15px;
  padding: 23px 12px 12px 12px;
  border: 0;
  background-color: transparent;
  background-size: 100% 100%;
  cursor: pointer; }

.menu.open-button {
  background-image: url(../../assets/ic_menu_24px.svg); }

.menu.close-button {
  background-image: url(../../assets/ic_close_24px.svg); }

.menu:focus {
  outline: none; }

.menu:nth-child(2) {
  display: none; }

/**************************  BUTTON COMPONENTS END **************************/
/**************************  Modal COMPONENT START **************************/
/*https://www.google.com/search?q=material+design+form&espv=2&biw=2013&bih=1020&tbm=isch&imgil=RwAWMKsEImHZVM%253A%253BjsKozT0_RV9fbM%253Bhttp%25253A%25252F%25252Fmdlwp.com%25252Fdownloads%25252Fmaterial-design-login-form%25252F&source=iu&pf=m&fir=RwAWMKsEImHZVM%253A%252CjsKozT0_RV9fbM%252C_&dpr=0.9&usg=___js5SZCeZ5NElE56Nioj_M8JyyY%3D&ved=0ahUKEwiJ8KTLuLTKAhUP6WMKHXsNCF8QyjcIJQ&ei=fWudVsm9FI_SjwP7mqD4BQ#imgrc=RwAWMKsEImHZVM%3A&usg=___js5SZCeZ5NElE56Nioj_M8JyyY%3D*/
.modal {
  z-index: 10;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  border-radius: 2px;
  outline: 9999px solid rgba(0, 0, 0, 0.5); }

.modal form {
  width: 300px;
  height: 130px;
  margin: 0 auto;
  padding-top: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 12px #888888;
  background: white; }

.modal form input {
  display: block;
  width: 80%;
  margin: 0 0 10px 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-family: 'Roboto'; }

.modal form input:focus {
  outline: none; }

.modal form button {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px;
  border: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  background: none; }

.modal form .submit-button {
  color: white;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 1px 1px 11px #888888;
  background: #EE186D; }

.modal form .cancel-button {
  color: #FFB75B;
  font-weight: bold; }

/**************************  Modal COMPONENT END **************************/
/**************************  HEADER COMPONENT START **************************/
.page-header h1 {
  margin-left: 40px;
  color: white;
  font-size: 18px;
  font-weight: 400; }

.page-header {
  width: 100%;
  height: 40px;
  background: #EC1662; }

.page-header h1 {
  padding-top: 10px; }

/****** Media Queries for Header Component *********/
@media (min-width: 320px) {
  .page-header h1 {
    display: inline-block; } }
@media (min-width: 625px) {
  .page-header h1 {
    margin-left: 20px; } }
/**************************  HEADER COMPONENT END **************************/
/**************************  MOBILE NAVIGATION COMPONENT START **************************/
.mobile-dropdown-menu ul {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  -webkit-transition: height .4s ease; }

.mobile-dropdown-menu li {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #E7E7E7;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 700;
  background: #FFF; }

.shadow-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: black; }

/****** Media Queries for Mobile Menu Component *********/
@media (min-width: 625px) {
  .menu {
    display: none; }

  .mobile-dropdown-menu {
    display: none; } }
/**************************  MOBILE NAVIGATION COMPONENT END **************************/
/************************** NAVIGATION COMPONENT START **************************/
nav.desktop-nav {
  width: 100%;
  height: 50px;
  background: #FFFFFF; }

nav.desktop-nav ul {
  padding-top: 18px;
  padding-left: 20px; }

nav.desktop-nav ul li {
  display: inline;
  padding-right: 25px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 700; }

/****** Media Queries for Desktop Navigation Component *********/
@media (min-width: 320px) {
  nav.desktop-nav {
    display: none; } }
@media (min-width: 625px) {
  nav.desktop-nav {
    display: block; } }
/************************** NAVIGATION COMPONENT END **************************/

/*# sourceMappingURL=application.css.map */
